.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.profile-section span {
    display: flex;
    align-items: center;
}

.profile-section > h2 {
    text-align: center;
}
