.card-expand {
    background: linear-gradient(
        to top,
        var(--color-background-light) 30%,
        var(--color-border)
    );
    border-top: 0.2rem solid var(--color-border);
    border-left: 0.2rem solid var(--color-border);
    border-right: 0.2rem solid var(--color-border);
    border-radius: 2rem;
    margin-block: 2rem;
    text-align: center;
}
.card-expand > h3 {
    padding: 1rem;
}

.expandable {
    display: grid;
    opacity: 0;
    grid-template-rows: 0fr;
    transition:
        grid-template-rows 0.8s linear,
        opacity 0.8s linear;
}

.expandable > div {
    overflow: hidden;
    grid-row: 1 / span 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 0.2rem var(--color-accent-strong) solid;
    padding-inline: 2rem;
    padding-block: 0;
}
.expandable.active {
    grid-template-rows: 1fr;
    opacity: 1;
}

/* .card-expand .expandable {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 0.2rem var(--color-accent-strong) solid;
    max-height: 0px;
    height: 0;
    opacity: 0;
    transition:
        opacity 1s linear,
        max-height 1s linear,
        height 1s linear,
        padding-block 1s linear;
    padding-inline: 2rem;
    padding-block: 0;
}
.card-expand .expandable.active {
    height: auto;
    opacity: 1;
    padding: 2rem;
} */

/* use auto for max-height */
/* .card-expand .expandable {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 0.2rem var(--color-accent-strong) solid;
    padding: 0;
    height: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition:
        padding 1s ease,
        height 1s ease,
        transform 1s ease;

}
.card-expand .expandable.active {
    padding: 2rem;
    opacity: 1;
    height: 100%;
    transform: scaleY(1);
} */

.expand-button {
    width: 100%;
    background-color: var(--color-background-light);
    border-top: 0.2rem var(--color-accent-strong) solid;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.expand-button > img {
    display: inline;
    width: 100%;
    max-height: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform 1s ease;
}

.expand-button > img.open {
    transform: rotate(-180deg);
}
