.field {
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem;
}

.field textarea {
    block-size: 10rem;
    padding: 0.5rem;
}

.social {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-block: 1rem;
    /* margin-left: 1rem; */
}

.center-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.contact-columns > div {
    padding-inline: 2rem;
}

@media screen and (width > 720px) {
    .contact-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
